allow cameraserver camera_data_file:dir search;
allow cameraserver mm-qcamerad:unix_dgram_socket sendto;
allow cameraserver hal_perf_hwservice:hwservice_manager find;
allow cameraserver hal_perf_default:binder call;
