allow logpersist logpersist:capability dac_override;
allow logpersist cache_file:dir { search read open write add_name };
allow logpersist cache_file:file { getattr append open create };
