allow sensors sensors:capability dac_override;
allow sensors persist_file:file { getattr read open write };
allow sensors persist_file:dir { search getattr read open write };
