allow system_app cnd_vendor_prop:file { read open getattr };
allow system_app hal_datafactory_hwservice:hwservice_manager find;
allow system_app cnd:binder { call transfer };
