typeattribute tee data_between_core_and_vendor_violators;

# allow storing goodix data
allow tee mnt_vendor_file:dir { search };
allow tee system_data_file:dir create_dir_perms;
