typeattribute vendor_init data_between_core_and_vendor_violators;

allow vendor_init rootfs:lnk_file setattr;
allow vendor_init device:file create_file_perms;
allow vendor_init firmware_file:dir { create setattr };
allow vendor_init adsprpcd_file:dir {create setattr };
allow vendor_init media_rw_data_file:dir setattr;
allow vendor_init wifi_data_file:dir { search setattr };
allow vendor_init dhcp_data_file:dir setattr;
allow vendor_init nfc_data_file:dir { search setattr };
allow vendor_init wpa_socket:dir { setattr write };
allow vendor_init system_data_file:file { setattr write open };
allow vendor_init persist_drm_file:lnk_file read;
allow vendor_init persist_file:lnk_file read;

allow vendor_init {
  camera_data_file
  bt_firmware_file
  rootfs
  system_data_file
  tombstone_data_file
}:dir { create search getattr open read setattr ioctl write add_name remove_name rmdir relabelfrom };
