# pantech usb composition
# added items from init.qcom.usb.rc in msm8937.

on init
    write /sys/class/android_usb/android0/f_rndis/wceis 1
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    
    #LS4-USB tarial KK OS for otg_storage
    mkdir /mnt/media_rw/otg_storage 0700 media_rw media_rw
    mkdir /storage/otg_storage 0700 root root
    export OTG_STORAGE /storage/otg_storage

#LS4-USB tarial KK OS for otg_storage
service fuse_otg_storage /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/otg_storage /storage/otg_storage
    class late_start
    disabled

on charger
    setprop sys.usb.config mass_storage

on fs
    mkdir /dev/usb-ffs 0770 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000
    write /sys/class/android_usb/android0/f_ffs/aliases adb

on usb-charging-mode
	write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/f_diag/clients diag
	write /sys/class/android_usb/android0/f_serial/transports smd
	write /sys/class/android_usb/android0/functions serial,diag
	write /sys/class/android_usb/android0/factory_mode 0
	write /sys/class/android_usb/android0/usb_charging_mode serial,diag
	write /sys/class/android_usb/android0/enable 1

on property:pantech.usb.manager=init
	start init-pusb-sh

#on property:sys.usb.config=*
on property:sys.usb.config=* && property:pantech.usb.manager=start
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    setprop sys.usb.state ${sys.usb.config}

on property:persist.service.adb.enable=1
	start adbd

on property:persist.service.adb.enable=0
	stop adbd

# FEATURE_PANTECH_USB_TUNE_SIGNALING_PARAM
on property:pantech.usb.phytune=*
	start phy-pusb-sh
# FEATURE_PANTECH_USB_QXDM_ONOFF
on property:persist.pantech.usb.dmmask=0
	write /sys/class/android_usb/android0/qxdm_message_onoff 0

on property:persist.pantech.usb.dmmask=1
	write /sys/class/android_usb/android0/qxdm_message_onoff 1

# FEATURE_PANTECH_BLOCKING_USB_MDMSTATE	
on property:persist.pantech.usb.control=enable
	write /sys/class/android_usb/android0/usb_mdm_mode 1
on property:persist.pantech.usb.control=disable
	write /sys/class/android_usb/android0/usb_mdm_mode 0
	
# FEATURE_PANTECH_USB_OTG_PHY_PARAMETER_CONTROL
#on property:persist.pantech.usb.otgtune=*
#    start otg-pusb-sh

# FEATURE_PANTECH_USB_VER_SWITCH
#on property:persist.pantech.usb.version=1
#	write /sys/devices/msm_dwc3/dwc3_usb_ver_swi 1
#on property:persist.pantech.usb.version=0
#	write /sys/devices/msm_dwc3/dwc3_usb_ver_swi 0
	
# Allow persistent usb charging disabling
service qcom-usb-sh /system/bin/sh /init.qcom.usb.sh
    class core
    user root
    oneshot

# PANTECH USB initialize script
#service otg-pusb-sh /system/bin/sh /init.pantech.usb.sh otg_phy_tune
#    class core
#    user root
#    oneshot

# FEATURE_PANTECH_USB_TUNE_SIGNALING_PARAM
service phy-pusb-sh /system/bin/sh /init.pantech.usb.sh slave_phy_tune
	disabled
    user root
    oneshot

service init-pusb-sh /system/bin/sh /init.pantech.usb.sh oninit
	disabled
    user root
    oneshot

service mode-pusb-sh /system/bin/sh /init.pantech.usb.sh mode_control
    disabled
    user root
    oneshot

# Pantech USB usb_control_manager
service usb_manager /system/bin/usb_manager
	class main #FEATURE_SKY_DATA_ENCRYPTION late_start
	user root

